@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 233, 233);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Quicksand";
  padding: 0px;
  margin: 0px;
}

.navbar {
  padding: 1px;
  margin-bottom:30px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
  min-height: 6vh;
  border-bottom: 1px solid #f2f2f2;
  background-color: rgb(110, 164, 245);
}

.navbar .logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-left: 30px;
  font-size: 20pt;
}

.navbar .nav-links {
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style: none;
}
.navbar a {
  color: rgb(226, 226, 226);
  /* margin-left: 16px; */
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14pt;
  text-decoration: none;
  padding: 15px;
}

.navbar a:hover {
  color: #423f40;
}

.navbar .burger {
  display: none;
}

.navbar .burger div {
  width: 30px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.navbar .burger:hover {
  background-color: #423f40;
  cursor: pointer;
}

/* Allow dynamic rendering of page depending on width. <768px do this */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; /* disable ability to horizontal scroll */
  }
  .navbar .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    background-color: rgb(110, 164, 245);
    top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    min-width: 100px;
    /*offset the container all the way to the right, not shown*/
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .navbar .nav-links li {
    opacity: 0;
  }

  .navbar .burger {
    display: block;
  }
}

/* Toggle for sidebar - if active, remove x-offset
    Toggled using classList.toggle('nav-active') */
.navbar .nav-active {
  transform: translateX(0%);
}

/* Animate the links in the sidebar */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); /* allow slide in from right */
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Change burger into an X - toggled using classList.toggle */
.burger-clicked .line-1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.burger-clicked .line-2 {
  opacity: 0;
}
.burger-clicked .line-3 {
  transform:rotate(45deg) translate(-5px,-6px);
}

/* Login Form Card */
.card {
  margin: auto;
  margin-bottom:30px;
  max-width: 300px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.card h2,
.card h3 {
  text-align: left;
}

.form-group {
  text-align: center;
  border-radius: 15px;
  padding: 8px;
  margin: 15px;
}

.form-group input {
  outline:none;
  width: 100%;
  display: block;
  border:none;
  border-bottom: 1px solid black;
}

.form-group input:focus {
  border-bottom: 2px solid rgb(69, 69, 238);
}

.form-button:hover {
  background: rgb(11, 66, 147);
  color: #fff;
  cursor: pointer;
}

.form-button {
  position: bottom;
  border-radius: 15px;
  background-color: rgb(51, 125, 235);
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.field-input {
  font-size: 12pt;
}
